:root {
  --green: #5da4a5;
  --featured: #2f2f2f;
}

.App {
  text-align: center;
}

header {
  background-image: url('./images/bg-header-desktop.svg');
  background-color: var(--green);
  height: 150px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  width: 100%;
  margin-top: -32px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 40px;
}

.bordered {
    border-left: 8px solid var(--green);
}

.general-card {
  width: 96%;
  box-shadow: 8px 15px 20px #7cdfe0;
  border-radius: 10px;
}


img {
  margin-right: 24px;
}

.description {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  font-weight: bold;
  color: #fff;
  width: 100%;
  min-width: 300px;
}

.company {
  color: var(--green);
  font-size: 18px;
  margin-right: 5px;
}
.new {
  background-color: var(--green);
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 16px;
  margin: 5px;
}
.featured {
  background-color: var(--featured);
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 16px;
  margin: 5px;
}
.position {
  display: contents;
  color: #000;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
}
.first-row {

}
.second-row{

}
.third-row {
  display: flex;
  color: #427677;
}

.language {
  display: flex;
  flex-direction: row;
  justify-self: end;
  justify-content: end;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
}

.language span {
  background-color: #aee1e2;
  color: #445858;
  padding: 6px 10px;
  border-radius: 5px;
  /* margin-left: 18px;  */
}

span:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
cursor: pointer;
}

.filter {
  height: 60px;
  background-color: #fff; 
}

@media screen and (max-width:970px) {
  .main {
    row-gap: 40px;
  }
  
  .card {
    flex-direction: column  ;
    padding: 28px;
    row-gap: 10px;
 }
  .language {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 20px 0 0;
    border-top: 2px solid var(--green);
 }  

  img {
    display: flex;
    width: 48px;
    margin-top: -52px;
    align-self: flex-start;
    justify-self: flex-start;
  }


}